body {
  font-family: sans-serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.link:active {
  color: rgba(0, 0, 0, 0.5);
}

.visited:visited {
  color: rgba(0, 0, 0, 0.5);
}

.form-container {
  text-align: center;
  height: 700px;
  margin-left: -15px;
  /* margin-bottom: 50px; */
}

.add-form {
  background: url(plant-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-style: ridge;
  border-radius: 25px;
  width: 550px;
  height: 500px;
  margin-left: 275px;
  padding-top: 25px;
}

.form {
  background: url(plant-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-style: ridge;
  border-radius: 25px;
  width: 550px;
  height: 550px;
  margin-left: 275px;
  padding-top: 25px;
  /* padding-right: 100px; */
}

#sign-in-btn {
  background-color: #306bbd;
  color: #fff;
  margin-top: 20px;
  /* need this if there's an autofill for fields to center
  margin-left: 10px; */
}

#avatar {
  background-color: black;
}

#log-title {
  margin-top: 15px;
}

/* .label {
  background-color: rgba(253, 253, 253, 0.7);
  width: 125px;
  display: inline-block;
  text-align: right;
  margin-right: 15px;
} */

.input {
  width: 300px;
  height: 25px;
  margin-bottom: 20px;
  box-shadow: 0 3px 5px rgb(127, 130, 124);
}

.text-box {
  width: 300px;
  height: 175px;
  margin-bottom: 20px;
  vertical-align: middle;
  box-shadow: 0 3px 10px rgb(127, 130, 124);
}

.edit-img {
  width: 300px;
  box-shadow: 0 3px 5px rgb(127, 130, 124);
  margin-bottom: 25px;
}

.button {
  margin-top: 25px;
  margin-left: 200px;
}
